/*
* {
    outline: 1px solid blue;
}
*/

body {
    position: relative;
    margin: 0 0 5em;
    background: #ffe9b3;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    line-height: 120%;
    font-weight: normal;
    box-sizing: border-box;
    background: linear-gradient(#ffe9b3, #99b4ff);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header */
header {
    flex-grow: 0;
    background: #4764B3;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.header {
    position: sticky;
    background: #4764B3;
    width: 100%;
    margin: 0;
    height: 10%;
    top: 0;
    z-index: 999;
    /*
    display: flex;
    justify-content: space-between;
    */
}

.header__logo {
    margin: 0;
    padding-right: 0;
}

.header__img {
    /* float: left; */
    width: 100px;
    height: 70px;
    transition: all .3s ease-in-out;
}

.header__img:hover {
    transform: scale(1.1);
}

.header__menu {
    margin: auto 5px ;
}

.header__menu-list {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}

.header__menu-item {
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin: 10px 15px;
    width: auto;
}

.header__menu-item_active {
    padding: 5px;
    border: beige dotted 1px;
    border-radius: 5px;
}

.header__menu-link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

.header__menu-link:hover {
    color: #99b4ff;
}

/* main */
main {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 80px;
    height: 100%;
    flex-grow: 0;
}

.main {
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 10px;
    position: relative;
    padding: 25px;
    align-content: center;
    justify-content: center;
    grid-gap: 0;
    min-width: auto;
    min-height: auto;
}

section {
    margin: 0;
    padding: 0
}

.main__left {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    height: 100%;
}

.main__header {
    font-size: 2rem;
    margin: 10px 10px 5px;
    padding: 30px 0;
    background-color: #b39959;
    color: black;
    #max-width: 50rem;
    height: 5rem;
    vertical-align: middle;
    box-sizing: border-box;
    min-width: 0;
    text-align: center;
}

.main__paragraph {
    box-sizing: border-box;
    border: 3px solid #b39959;
    margin: 5px 10px 10px;
    padding: 20px 25px;
    font-size: 1.5rem;
    line-height: 120%;
    max-width: 50rem;
    height: 10rem;
    vertical-align: middle;
    min-width: 0;
}

.main__img {
    margin: 10px 0;
    #max-width: 190px;
    #width: 100%;
    #height: 100%;
    #height: 280px;
    border-color: beige;
    border-width: 30px;
}

.main__img_big {
    width: 100%;
    max-width: 43rem;
    height: 15.625rem;
}

.article {
    color: #000000;
}

.article__header {
    margin: 20px 0 10px;
    padding: 10px 0;
    color: #4764B3;
    font-weight: bolder;
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #ffe9b3;
}

.article__main-text {
    text-indent: 5%;
    text-align: justify;
}

.article__main-title {
    font-size: 1.2rem;
    color: #b39959;
    font-style: oblique;
}

.article__image {
    border: 1px solid black;
    transition: all .3s ease-in-out;
    margin: 0 10px;
    #display: inline-block;
}

.article__image:hover {
    transform: scale(2);
    filter: drop-shadow(0 0 5px rgba(0,0,0,1));
}

.article__image_horizontal {
    width: 200px;
    height: 150px;
}

.article__image_vertical {
    width: 150px;
    height: 200px;
}

.article__image_small {
    width: 50px;
    height: 50px;
    transition: none;
}

.article__image_small:hover {
    transform: none;
}

.article__image_small-vertical {
    height: 40px
}

.article__gallery {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    box-sizing: border-box;
    padding: inherit;
    width: 100%;
    flex-wrap: wrap;
    min-height: 0;
    min-width: 0;
    border: beige dashed 1px;
}

.article__gallery-item {
    margin: 10px;
}

.article__link {
    color: white;
    background-color: #99b4ff;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.article__link:hover {
    background-color: #4764B3;
}

.article__main-text-author {
    font-style: italic;
}

.article__datetime {
    font-style: italic;
    color: white;
    border: #b39959 solid 1px;
    display: inline;
    background-color:rgba(179, 153, 89, 0.5);
}

.article__music {
    display: flex;
    margin: 0;
    box-sizing: border-box;
    justify-content: space-evenly;
    padding: inherit;
    width: 100%;
    overflow: auto;
    flex-wrap: wrap;
    min-height: 0;
    min-width: 0;
}

.article__music-item {
    margin: 10px;
    outline: beige solid 1px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    width: fit-content;
    min-width: 0;
    align-content: center;
    align-items: center;
}

.article__music-name {
    padding: 10px;
    margin: 0;
    display: inline;
}

.article__link_music {
    align-content: center;
}

.article__image_music {
    border: none;
    padding: 5px 0;
}

/* table */
.table {
    display: grid;
    font-weight: 400;
    margin: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    border: beige solid 1px;
    overflow: scroll;
    grid-template-columns: 60px repeat(7, minmax(100px, 1fr));
    justify-content: center;
}

.table__row {
    display: contents;
}

.table__cell {
    text-align: center;
    vertical-align: middle;
    padding: 5%;
    border: #ffe9b3 solid 1px;
}

.table__row:first-of-type .table__cell {
    background: #b39959;
}

.table__row:nth-of-type(even) .table__cell{
    background: white;
}

.table__row:nth-of-type(odd) .table__cell{
    background: beige;
}

/* footer */
.footer {
    flex-grow: 0;
    bottom: 0;
    margin: 0;
    position: fixed;
    box-sizing: border-box;
    padding: 5px 80px;
    width: 100%;
    background-color: #4764B3;
    text-align: center;
    color: white;
}

.footer-two {
    background-color: #4764B3;
    text-align: center;
    color: white;
    box-sizing: border-box;
    padding: 5px 80px;

    position: fixed;
    bottom: 0;
    width: 100%;
}

/* media */
@media screen and (max-width: 480px) {
    .navbar {
        overflow: scroll;
    }
    .header__menu-link {
        font-size: 0.7rem;
        width: 70%;
    }
    .header__img {
        width: 100px;
        height: 70px;
    }
    .main__img {
        padding: 0;
        margin: 0;
    }
    .main__img_big {
        width: 300px;
        height: 120px;
    }
    .main__header {
        width: 200px;
        height: 30px;
        margin: 5px 0;
        font-size: 50%;
    }
    .main__paragraph {
        width: 200px;
        height: 80px;
        font-size: 30%;
        padding: 5px;
    }
    .article__header {
        font-size: 50%;
    }
    .article__main-title {
        font-size: 50%;
    }
    .article__main-text {
        font-size: 50%;
    }
    .table {
        font-size: 50%;
        overflow: hidden;
    }
    .table__cell{
        font-size: 50%;
    }
    .article__link {
        font-size: 50%;
    }
    .article__music-name {
        font-size: 50%;
    }
    .article__datetime {
        font-size: 50%;
    }
    .footer {
        font-size: 50%;
    }
    #books {
        font-size: 50%;
    }
}

@media screen and (max-width: 800px) {
    .table {
        font-size: 80%;
        overflow: scroll;
    }
}

@media screen and (max-width: 1024px) {
    .article__gallery {
        overflow: visible;
    }
    .header__logo {
        display: none;
    }
    .article__gallery {
        overflow: scroll;
    }
    .main {
        display: block;
        overflow: scroll;
    }
}

/* todolist */
.todo-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    width: 600px;
    margin: 5em auto;
    height: auto;
}

#todo {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.todo-input-container {
    resize: none;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    display: inline-flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
    border: none;
}

.todo__buttons {
    display: flex;
    align-items: center;
}

.add {
    width: 40px;
    height: 40px;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    background-color: rgb(233, 153, 61);
    margin-right: 10px;
}

.delete {
    width: 40px;
    height: 40px;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    background-color: #e72727;
}

.todo-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.task__list-item {
    display: inline-flex;
    align-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.task__list-item-input {
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    padding: 0 10px;
    height: 100%;
    width: 100%;
    resize: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.button {
    display: inline-flex;
}

.complete {
    width: 40px;
    height: 40px;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    background-color: #3ec282;
    margin-right: 10px;
}

.delete {
    width: 40px;
    height: 40px;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    background-color: #e72727;
}

.checked {
    text-decoration: line-through;
    opacity: 0.7;
    transition: .3s;
}

.todo-header {
    display: inline-flex;
    justify-content: center;
}

/* mockdata file */
.random-user__loader {
    border: 16px solid #4764B3; /* Light grey */
    border-top: 16px solid beige; /* Blue */
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.random-user__table {
    display: none;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
}

.random-user__data {
    text-align: center;
    vertical-align: middle;
}

.random-user__data_header {
    background: #b39959;
    font-style: italic;
}

.random-user__data:first-of-type .random-user__data {
    background: #b39959;
}

.random-user__button {
    display: none;
    align-items: center;
    background-color: #b39959;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: beige;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    max-width: 480px;
    min-height: 40px;
    min-width: 0;
    overflow: hidden;
    padding: 0 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    margin: auto;
}

.random-user__button:hover,
.random-user__button:active {
    cursor: pointer;
    background-color: #b39959;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
    #transform: scale(1.1);
}

.random-user__error {
    display: none;
    padding: 30px;
    border: #4764B3 dotted 1px;
    background: #ffe9b3;
    font-size: 1.5rem;
    text-align: center;
}

.mock-header {
    display: flex;
    justify-content: center;
}

/* lib page */
.lib-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.butt {
    color: black;
    margin: 2rem 0 2rem 0;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    vertical-align: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    white-space:normal !important;
    word-wrap: inherit;
}

.butt:after {
    content: "";
    background-color: #99b4ff;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.butt:hover:after {
    top: 0;
    left: 0;
}

@media (min-width: 768px) {
    .butt {
        padding: 13px 50px 13px;
    }
}

#butt-del:after {
    background-color: #e72727;
}

.img {
    width: 300px;
    height: 300px;
    display: none;
}

#butt-start {
    display: block;
}

#butt-del {
    display: none;
}

#butt-api {
    display: none;
}