* {
    outline: 1px solid blue;
}

body {
    margin: 0;
    background: #ffe9b3;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    background: linear-gradient(#ffe9b3, #99b4ff);
}

/* header */
header {
    margin: 0;
    background: #4764B3;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 80px;
}

.navbar {
    /* for lab 3
    display: flex;
    justify-content: space-between;
     */
    width: 100%;
    margin: 0 auto;
}

.header {
    position: relative;
    background: #4764B3;
    width: 100%;
    margin: 0;
    #padding: 0;
    /*
    display: flex;
    justify-content: space-between;
    */
}
.header__logo {
    margin: 0;
    padding-right: 0;
}
.header__img {
    /* float: left; */
    width: 220px;
    height: 170px;
    transition: all .3s ease-in-out;
}

.header__img:hover {
    transform: scale(1.1);
}

.header__menu {
    margin: auto 5px ;
}

.header__menu-list {
    box-sizing: border-box;
    /* for lab 3
    display: flex;
    justify-content: space-evenly;
    */
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__menu-item {
    box-sizing: border-box;
    /* for lab 3
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
     */
    margin: 10px 15px;
    width: auto;
}

.header__menu-link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    width: 100%;
    text-align: center;
}

.header__menu-link:hover {
    color: #99b4ff;
}

/* main */
main {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 80px;
}

.main {
    text-align: center;
}

section {
    margin: 0;
    padding: 0
}
.main__header {
    margin: 0;
    padding: 0;
    color: black;
}

.main__paragraph {
    border-width: 1px;
    border-color: black;
}

.main__img {
    width: 190px;
    height: 280px;
    border-color: beige;
    border-width: 30px;
}

.article {
    color: #000000;
}

.article__header {
    margin: 0;
    padding: 10px 0;
    color: #99b4ff;
    font-style: normal;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #ffe9b3;
}

.article__main-title {
    color: #b39959;
    font-style: oblique;
}

.article__image {
    border: 1px solid black;
    transition: all .3s ease-in-out;
    margin: 0 10px;
}

.article__image:hover {
    transform: scale(2);
    filter: drop-shadow(0 0 5px rgba(0,0,0,1));
}

.article__image_horizontal {
    width: 200px;
    height: 150px;
}

.article__image_vertical {
    width: 150px;
    height: 200px;
}

.article__image_small {
    width: 50px;
    height: 50px;
}

.article__link {
    color: white;
    background-color: #99b4ff;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.article__link:hover {
    background-color: #4764B3;
}

.article__main-text-author {
    font-style: italic;
}

/* footer */
.footer {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    padding: 5px 80px;
   /* bottom: 0; */
    width: 100%;
    background-color: #4764B3;
    text-align: center;
}