body {
    margin: 0;
    background: #ffe9b3;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

/* header */
header {
    background: #4764B3;
}

.navbar {
    width: 80%;
    margin: 0 auto;
}

.header {
    position: relative;
    background: #4764B3;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.header__img {
    /* float: left; */
    width: 220px;
    height: 170px;
    transition: all .3s ease-in-out;
}

.header__img:hover {
    transform: scale(1.1);
}

.header__menu {
    padding: 0;
}

.header__menu-list {
    margin: 0;
    padding: 4rem 0;
    list-style: none;
}

.header__menu-item {
  /*  display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    margin: 0 30px;
    padding-top: 25px;
}

.header__menu-link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.header__menu-link:hover {
    color: #99b4ff;
}

/* main */
main {
    margin: 0;
    padding: 0 80px 2.5rem;
}

.main__header {
    color: black;
}

.main__paragraph {
    border-width: 1px;
    border-color: black;
}

.main__img {
    width: 190px;
    height: 280px;
    border-color: beige;
    border-width: 30px;
}

.article {
    color: #000000;
}

.article__header {
    color: #99b4ff;
    font-style: normal;
    font-size: 30px;
}

.article__main-title {
    color: #b39959;
    font-style: oblique;
}

.article__image {
    border: 1px solid black;
    transition: all .3s ease-in-out;
    margin: 0 10px;
}

.article__image:hover {
    transform: scale(1.1);
}

.article__image_horizontal {
    width: 200px;
    height: 150px;
}

.article__image_vertical {
    width: 150px;
    height: 200px;
}

/* footer */
.footer {
    position: relative;
    padding: 10px 10px 10px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #4764B3;
    text-align: center;
}